<div>

  <header>

  </header>

  <main>
      <mat-toolbar class="menu" role="header" color="accent">
          <mat-toolbar-row>
            <button mat-button class="toolbar__icon-button mat-button">
              <a routerLink="/dashboard" class="nav-link"><mat-icon>home</mat-icon> Dashboard</a>
            </button>

            <button mat-button class="toolbar__icon-button mat-button">
              <a routerLink="/dashboard/cumulative-summary" class="nav-link"><mat-icon>assessment</mat-icon> Cumulative Summary</a>
            </button>

            <div fxFlex></div>

            <button mat-button class="toolbar__icon-button mat-button">
              <a (click)="logout()" class="nav-link"><mat-icon>person</mat-icon> Logout</a>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
    <router-outlet></router-outlet>
  </main>
</div>

